.calculator {
    padding-left: 8em;
    padding-right: 8em;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    margin-top: 2em;
    margin-bottom: 6em;
}

.calculator-question-units {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    height: 100px;
    >* {
        align-self: center;
    }
}

.calculator-question {
    padding-left: 4em;
}

.calculator-qs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80vw;
    align-items: center;
}

.calculator-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 5.5em;
    font-size: 12px;
}

.calculator-qq {
    font-size: 1.4em;
    width: 100%;
}

/* // */
.punto-ahorro {
    gap: 4em;
    background-color: rgb(146, 178, 90);
    border-radius: 2px;
    margin: 4em 0;
    padding: 2em;
    min-height: 420px;
    border-radius: 5px;
    >* {
        padding: 0 1em;
        width: 50%;
    }
}

.punto-g {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 2em;
    margin-top: 8em;

    >* {
        width: 50%;
    }
}

.punto-ahorro-graph {
    width: 85%;
    border: 1px solid rgb(106, 102, 102);
}

.punto-g-banner {
    width: 50%;
    background-color: grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* // */
.slider-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border: 1px solid rgb(106, 102, 102);
    margin-bottom: 2.2em;
    border-radius: 5px;
    padding: 0 0.5em;
}

.slider {
    width: 60%;
    margin-right: 2em;
}


/* // */
.bar-container-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 0 2em;
}

.bar-container {
    --width-container: 555px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 400px;
    width: var(--width-container);
    margin-top: 4em;

    padding: 0 1em;
    text-align: center;
    align-self: center;

    .bar-title,
    .bar-label {
        font-size: 14px;
        margin-bottom: .5em;
        text-align: left;
        padding-left: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 .8em;
    }


    .bar-footer {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        background-color: none;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 1em;
    }

    .bar-2chart {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        min-height: 160px;

        >*>* {
            border-radius: 6px;
        }
    }

    .bar-content {
        width: calc(var(--width-container) / 2 - 84px);
        padding-top: 5px;
        margin: 0 .2em;
    }
}


@media (max-width: 989px) {
    .calculator {
        padding: 0em 3em;
    }

    .calculator-qs {
        padding-left: 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .calculator-mb {
        margin-left: auto;
    }

    .calculator-question {
        width: 100%;
        justify-content: space-evenly;
        padding-left: 1em;
    }

    .calculator-footer {
        padding: 1em;
    }

    .punto-g {
        flex-direction: column;
    }

    .punto-ahorro>* {
        width: 100%;
        padding: 0 1em;
    }

    .punto-ahorro-graph {
        width: 100%;
    }

    .punto-g {
        width: 100%;

        >* {
            width: 100%;
        }
    }

    .punto-g-banner {
        height: 300px;
    }

    .bar-container {
        --width-container: 75vw;

        .bar-content {
            width: calc(var(--width-container) / 2 - 25px);
        }
    }


    .bar-container-head {
        flex-direction: column;
        gap: 2em;
    }

}