.calculator {
    padding-left: 8em;
    padding-right: 8em;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    margin-top: 2em;
    margin-bottom: 10em;
}

.calculator-question-units {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    height: 100px;

    >* {
        align-self: center;
    }
}

.calculator-question {
    padding-left: 4em;
}

.calculator-qs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 80vw;
    align-items: center;
}

/* // */
.punto-ahorro {
    gap: 4em;
    background-color: rgb(146, 178, 90);
    border-radius: 2px;
    margin: 4em 0;
    padding: 2em;
    min-height: 420px;

    >* {
        padding: 0 1em;
        width: 50%;
    }
}

.punto-g {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 2px;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 2em;
    margin-top: 8em;

    >* {
        width: 50%;
    }
}

.punto-ahorro-graph {
    width: 85%;
    border: 1px solid rgb(106, 102, 102);
}

.punto-g-banner {
    width: 50%;
    background-color: grey;
    border-radius: 5px;
}

/* // */
.slider-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border: 1px solid rgb(106, 102, 102);
    margin-bottom: 2.2em;
    border-radius: 5px;
    padding: 0 0.5em;
}

.slider {
    width: 60%;
    margin-right: 2em;
}


/* // */
.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 180px;
    width: 250px;
    text-align: center;

    .bar-title {
        font-size: 18px;
        margin-bottom: 1em;
    }

    .bar-footer {
        width: 100%;
        padding: 5px;
        background-color: rgb(72, 125, 72);
        border-radius: 5px;
    }

    .bar-2chart {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;

        >*>* {
            border-radius: 6px;
        }
    }
}


@media (max-width: 1000px) {
    .punto-g {
        flex-direction: column;
    }

    .punto-ahorro>* {
        width: 100%;
        padding: 0 1em;
    }

    .punto-ahorro-graph {
        width: 100%;
    }

    .punto-g {
        width: 100%;

        >* {
            width: 100%;
        }
    }

    .punto-g-banner {
        height: 300px;
    }

    .calculator-qs {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-template-rows: 1fr;
    }

}