.footer {
    width: 100vw;
    justify-content: space-evenly;
    align-items:first baseline;
    height: 25vh;
    background-color: var(--color-primary);
    opacity: 0.8;
    margin-top: 10em;
    margin-bottom: 0;
    padding-bottom: 4em;

    .footer-menu {
        align-items: center;
        display: flex;
        grid-gap: 1rem;
        padding: 1rem;
    }

    .footer-menu a {
        color: var(--color-light);
    }
    :hover {
        text-decoration: none;
    }
}

.footer-box {
    >* {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
        font-size: 2em;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
    }
}


.footer-null {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

@media (max-width: 768px) {
    .footer-box>* {
        gap: .5em;
        font-size: 1.5em;
        flex-direction: column;
    }

    .footer-null {
        flex-direction: row;
        gap: 1.4em;
    }

    .footer-null>*:not(:first-child) {
        display: none;
    }
}