.render-container {
    border: 1px solid black;
    height: 80vh;
    width: 100vw;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    text-align: center;

    >* {
        border: 1px solid black;
        height: 100%;
        width: 100%;
        padding-top: 2em;
    }
}

.render-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row;
    margin: 1em 0em;
    flex: 2;
    align-items: center;
}

.render-hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .2em;
    margin: 2em;
    height: 82px;
    width: 82px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.render-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}

.render-navbar{
    display: flex;
    flex-direction: row;
    gap: 2em;
    >*{
        border-radius: 20px;
        padding: 5px 20px;
        cursor: pointer;
        opacity: 0.5;
    }
}

.render-navbar > div.active {
    opacity: 1;
    color: rgb(222, 128, 60);;
    border: 1px solid rgb(222, 128, 60);
    font-weight: 600;
}

.render-select{
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 1px solid grey;
    border-radius: 2px;
}




.render-dropdown {
    position: relative;
    display: block;
    width: 100%;
}

.render-dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.render-dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.render-dropdown-content div:hover {background-color: #ddd;}

.render-dropdown:hover .render-dropdown-content {display: block;}