.render-container {
    border: 1px solid black;
    height: 80vh;
    width: 100vw;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    text-align: center;

    >* {
        border: 1px solid black;
        height: 100%;
        width: 100%;
        padding-top: 2em;
    }
}

.render-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row;
    margin: 1em 0em;
    flex: 2;
    align-items: center;
}

.render-hover {
    border: 1px solid black;
    padding: .2em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.render-hover:hover {
    background-color: lightgray;
}

/* // */
.render-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    
    >*{
        border: 1px solid black;
    }
}
